## ***Movie Recommendation System***

Recommender System is a system that seeks to predict or filter preference according to the user's choices. Recommender system are utilized in a variety of areas including movies, music, news, books, research articles, serach queries, social tags and products in general. Recommender system produce a list of recommendations in any of two ways-

Collaborative Filtering: Collaborative Filtering approaches build a model from the user's past behaviour as well as similar decissions made by other users. This model is then used to predict items that users may have an interest in.

Content-based Filtering: Content-based filtering approaches uses a series of discrete characteristics of an item in order to recommend additional items with similar properties. Content-based filtering methods are totally based on a description of the item and a profile of the user's preferences. It recommends items based on the user's past preferences. Let's develop a basic recommendation system using Python and Pandas.


Let's develop a basic recommendation system by suggesting items that are most similar to a particular item. In this case, movie it just tells what movies are most similar to the user's movie choice.

In [31]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [32]:
df = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Movies%20Recommendation.csv')

In [33]:
df.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142.0,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4760 entries, 0 to 4759
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Movie_ID                  4760 non-null   int64
 1   Movie_Title               4760 non-null   object
 2   Movie_Genre               4760 non-null   object
 3   Movie_Language            4760 non-null   object
 4   Movie_Budget              4760 non-null   int64
 5   Movie_Popularity          4760 non-null   float64
 6   Movie_Release_Date        4760 non-null   object
 7   Movie_Revenue             4760 non-null   int64
 8   Movie_Runtime             4758 non-null   float64
 9   Movie_Vote                4760 non-null   float64
 10  Movie_Vote_Count          4760 non-null   int64
 11  Movie_Homepage            1699 non-null   object
 12  Movie_Keywords            4373 non-null   object
 13  Movie_Overview            4757 non-null   object
 14  Movie_Production_House    4760 non-null   object
 15  Movie_Production_Country  4760 non-null   object
 16  Movie_Spoken_Language     4760 non-null   object
 17  Movie_Tagline             3942 non-null   object
 18  Movie_Cast                4733 non-null   object
 19  Movie_Crew                4760 non-null   object
 20  Movie_Director            4738 non-null   object
dtypes: float64(3), int64(4), object(14)
memory usage: 781.1+ KB

In [35]:
df.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

## ***Get Feature Selection***

In [36]:
df_features = df[['Movie_Genre', 'Movie_Keywords', 'Movie_Tagline', 'Movie_Cast', 'Movie_Director']].fillna('')

In [37]:
df_features

,Movie_Genre,Movie_Keywords,Movie_Tagline,Movie_Cast,Movie_Director
0,Crime Comedy,hotel new year's eve witch bet hotel room,Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,Allison Anders
1,Adventure Action Science Fiction,android galaxy hermit death star lightsaber,"A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,George Lucas
2,Animation Family,father son relationship harbor underwater fish...,"There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,Andrew Stanton
3,Comedy Drama Romance,vietnam veteran hippie mentally disabled runni...,"The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,Robert Zemeckis
4,Drama,male nudity female nudity adultery midlife cri...,Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,Sam Mendes
...,...,...,...,...,...
4755,Horror,,The hot spot where Satan's waitin'.,Lisa Hart Carroll Michael Des Barres Paul Drak...,Pece Dingo
4756,Comedy Family Drama,,It’s better to stand out than to fit in.,Roni Akurati Brighton Sharbino Jason Lee Anjul...,Frank Lotito
4757,Thriller Drama,christian film sex trafficking,She never knew it could happen to her...,Nicole Smolen Kim Baldwin Ariana Stephens Brys...,Jaco Booyens
4758,Family,,,,
4759,Documentary,music actors legendary perfomer classic hollyw...,,Tony Oppedisano,Simon Napier-Bell

In [38]:
x = df_features['Movie_Genre'] + ' ' +df_features['Movie_Keywords'] + ' ' + df_features['Movie_Tagline'] + ' ' + df_features['Movie_Cast'] + ' ' + df_features['Movie_Director']

In [39]:
x

0       Crime Comedy hotel new year's eve witch bet ho...
1       Adventure Action Science Fiction android galax...
2       Animation Family father son relationship harbo...
3       Comedy Drama Romance vietnam veteran hippie me...
4       Drama male nudity female nudity adultery midli...
                              ...
4755    Horror  The hot spot where Satan's waitin'. Li...
4756    Comedy Family Drama  It’s better to stand out ...
4757    Thriller Drama christian film sex trafficking ...
4758                                           Family
4759    Documentary music actors legendary perfomer cl...
Length: 4760, dtype: object

## ***Get Feature Text Conversion to Tokens***

In [40]:
from sklearn.feature_extraction.text  import TfidfVectorizer

In [41]:
tfidf = TfidfVectorizer()

In [42]:
x = tfidf.fit_transform(x)

In [43]:
x.shape

(4760, 17258)

## ***Get Similarity Score using Cosine Similarity***

In [44]:
from sklearn.metrics.pairwise import cosine_similarity

In [45]:
Similarity_Score  = cosine_similarity(x)

In [46]:
Similarity_Score

array([[1.        , 0.01351235, 0.03570468, ..., 0.        , 0.        ,
        0.        ],
       [0.01351235, 1.        , 0.00806674, ..., 0.        , 0.        ,
        0.        ],
       [0.03570468, 0.00806674, 1.        , ..., 0.        , 0.08014876,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.08014876, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [47]:
Similarity_Score.shape

(4760, 4760)

## ***Get Movie Name as input from User and Validate for Closest Spelling***

In [48]:
favourite_movie_name = input('Enter your favourite movie name:')

Enter your favourite movie name:avtaar

In [49]:
All_Movie_Title_List = df['Movie_Title'].tolist()

In [50]:
import difflib

In [51]:
Movie_Recommendation = difflib.get_close_matches(favourite_movie_name, All_Movie_Title_List)
print(Movie_Recommendation)

['Avatar', 'Gattaca']

In [52]:
Close_match = Movie_Recommendation[0]
print(Close_match)

Avatar

In [53]:
Index_of_Close_match_movie = df[df.Movie_Title == Close_match]['Movie_ID'].values[0]
print(Index_of_Close_match_movie)

2692

In [54]:
Recommendation_Score = list(enumerate(Similarity_Score[Index_of_Close_match_movie]))

## ***Get all Movies Sort Based on Recommendation Score wrt Favourite Movie***

In [55]:
# sorting the movies based on their similarity score

Sorted_Similarity_Movies = sorted(Recommendation_Score, key = lambda x:x[1], reverse = True)

In [56]:
print('Top 30 Movies Suggested for you : \n')

i =1

for movie in Sorted_Similarity_Movies:
  index = movie[0]
  title_from_index = df[df.index == index]['Movie_Title'].values[0]
  if (i<31):
    print(i, ',', title_from_index)
    i+=1

Top 30 Movies Suggested for you :

1 , Niagara
2 , Caravans
3 , My Week with Marilyn
4 , Brokeback Mountain
5 , Harry Brown
6 , Night of the Living Dead
7 , The Curse of Downers Grove
8 , The Boy Next Door
9 , Back to the Future
10 , The Juror
11 , Some Like It Hot
12 , Enough
13 , The Kentucky Fried Movie
14 , Eye for an Eye
15 , Welcome to the Sticks
16 , Alice Through the Looking Glass
17 , Superman III
18 , The Misfits
19 , Premium Rush
20 , Duel in the Sun
21 , Sabotage
22 , Small Soldiers
23 , All That Jazz
24 , Camping Sauvage
25 , The Raid
26 , Beyond the Black Rainbow
27 , To Kill a Mockingbird
28 , World Trade Center
29 , The Dark Knight Rises
30 , Tora! Tora! Tora!

In [58]:
Movie_Name = input('Enter your Fav movie name: ')

list_of_all_titles = df['Movie_Title'].tolist()

find_close_match = difflib.get_close_matches(Movie_Name, list_of_all_titles)

Close_match = find_close_match[0]

Index_of_movie = df[df.Movie_Title == Close_match]['Movie_ID'].values[0]

Recommendation_Score = list(enumerate(Similarity_Score[Index_of_movie]))

sorted_similar_movie = sorted(Recommendation_Score, key = lambda x:x[1],reverse= True)

print('Top 10 Movies Suggested for you : \n')

i =1

for movie in Sorted_Similarity_Movies:
  index = movie[0]
  title_from_index = df[df.Movie_ID == index]['Movie_Title'].values
  if (i<11):
    print(i, ',', title_from_index)
    i+=1

Enter your Fav movie name: avtaar
Top 10 Movies Suggested for you :

1 , ['Avatar']
2 , ['The Girl on the Train']
3 , ['Act of Valor']
4 , ['Donnie Darko']
5 , ['Precious']
6 , ['Freaky Friday']
7 , ['The Opposite Sex']
8 , ['Heaven is for Real']
9 , ['Run Lola Run']
10 , ['Elizabethtown']